mixin section-4-item(image, title, desc)
    div(class="section-4__item")
        div(class="section-4__image")
            a(href="#")
                img(src=image alt="")
        div(class="section-4__content")
            div(class="section-4__tag")
                | Kiến thức thú cưng
            h2(class="section-4__title")
                a(href="#")
                    | #{title}
            div(class="section-4__desc")
                | #{desc}